@charset "UTF-8";

body{
    width: 95vw;
    height: 97vh;
}

h1{
    text-align: center;
    width: 300px;
    margin: auto;
}
p{
    text-align: center;
    font-size: 1.7em;
    width: 400px;
    margin: auto;
    padding: 20px;
}

a{
    font-weight: bold;
}