@charset "UTF-8";

:root{

    --cor-1: #1b004b;
    --cor-2: #4c007d;
    --cor-3: #7f00b2;
    --cor-4: #5ccb5f;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    width: 100vw;
    height: 100vh;
}

body{
    background-image: linear-gradient(132deg, #11012e, #730bb8);
}

main{
    background-color: transparent;
    width: 70%;
    height: 570px;
    border-radius: 0px 0px 25px 25px;
    text-align: center;
    border: 2px solid var(--cor-4);
    box-shadow: 0px 0px 150px 8px var(--cor-4);

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#imagem{
    width: 100%;
    height: 200px;
    background-image: url(../Imagens/pexels-guilherme-rossi-1755695.jpg);
    background-position: center bottom;
    background-size: cover;
    position: relative;
    bottom: 0px;
}

h1{
    color: white;
    padding: 7px;
}

main > p{
    color: white;
    padding: 8px ;
}

#formulario{
    color: white;
}

input{
    
    border-radius: 0px;
    border: 1px solid var(--cor-3);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 6px 1px;
    height: 31px;
}

span{
    background-color: var(--cor-3);
    position: relative;
    left: 6px;
    top: 3px;
    height: 33px;
    width: 33px;
}

#enviar{
    border: none;
    width: 194px;
    height: 31px;
    
    background-color: var(--cor-4);
    font-weight: bold;
    border-radius: 10px;
}

#enviar:hover{
    background-color: rgba(255, 255, 255, 0.863);
    transition: 0.8s;
}

#lembrar{
    border: none;
    width: 194px;
    height: 31px;

    border-radius: 10px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.322);
}

#lembrar:hover{
    background-color: rgba(255, 255, 255, 0.568);
    transition: 0.8s;
}